.masthead
  .main-headline-area
    %h1
      = 'Direct uitvaartverzekeringen vergelijken en afsluiten'
    = link_to 'Direct vergelijken', { anchor: "comparison-table" }, class: [ 'scroll-to', 'btn', 'btn-lg', 'btn-primary', 'margin-top-extra']

.main-wrapper
  .container.container-padding
    .row
      .col-md-12
        %h2
          = 'Vergelijk uitvaartverzekeringen, bereken je premie en sluit meteen je verzekering af'
        %p
          = 'Een uitvaartverzekering afsluiten is misschien niet iets waar je graag mee bezig bent. Maar een waardig afscheid is een essentieel onderdeel van het rouwproces. Daarom proberen wij je te helpen met het versimpelen van het vergelijkings proces. U vindt hier in een oogopslag de verschillende verzekeraars van grote spelers op de markt als Monuta tot de wat onbekendere maar vaak ook goedkopere kleinere verzekeraars zoals Yarden. Zodra je een verzekeraar en uitvaartverzekering hebt gekozen klik je op bereken premie en je kan direct een verzekering afsluiten.'
.main-wrapper.gradient-grey.with-top-border
  .container.container-padding
    .row
      .col-md-12.testingzz
        %table{ class: 'table', id: 'comparison-table' }
          %td
            = ''
          %td.table-header
            = 'Omschrijving'
          %td.table-header
            = 'Prijs p/m'
          %td.table-header
            = 'Verzekerd bedrag'
          %td
            = ''
          - @insurers.each do |insurer|
            %tr
              %td
                = link_to insurer_path(insurer), class: ['clickable-cell'] do
                  = image_tag insurer.logo.thumb.url, title: insurer.name
              %td
                = insurer.description
              %td
                = render_price(insurer.price)
              %td
                = render_price(insurer.insured_amount)
              %td
                = link_to 'Bereken premie', "http://#{insurer.affiliate_link}", class: ['btn', 'btn-success']
